.verTime{
    .box{
        width: 300px;
        margin-left: 244px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        span{
            font-size: .28rem;
            display: flex;
            align-items: center;
        }
        .content{
            margin-left: 40px;
        }
    }
}